button {
    padding: 30px 40px;
    margin: 8px 10px;
    border: none;
    cursor: pointer;
    width: 35%;
    border-radius: 8px;
}
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 14px 80px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float:right;
    display: flex; 
    justify-content: center;
    width:50%;
    text-align: center;
    display: inline-block;
   border-radius: 8px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position:relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration:none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}
.back{
    background-size:cover;
    background-position: fixed;
    background-image: no-repeat left top fixed;
}
h1{
          color:#F2003C;
          font-family:Calibri;
}
 h2{
        display:inline-block;
        font-family:Calibri;
    }
h4{
    color:#F2003C;
    font-family:Calibri;
    }
             input { 
                font-family:Calibri;
                font-size: 15px;
                display:inline-block;
                margin-bottom: 30px;
    
            }
            label{
        display:inline-block;
                        }
      
            form {
    width: 300px;
    margin: 0 auto;
        }
        .para{
            color:white;
        font-family:Calibri;
        }
        * {
    box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.left, .right {
  width: 15%;
}

.middle {
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.center {
            text-align: left;
    padding: 0 3px;
}